aiofiles==24.1.0
aiohttp==3.9.5
aiosignal==1.3.1
alabaster==0.7.13
anthropic==0.31.1
anyio==3.6.2
arrow==1.2.3
arxiv==2.1.3
astral==2.2
async-timeout==4.0.3
atomicwrites-homeassistant==1.4.1
attrs==23.1.0
awesomeversion==22.9.0
Babel==2.12.1
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
bibtexparser==1.4.0
boto3==1.34.144
botocore==1.34.144
Brotli==1.1.0
cachetools==5.4.0
certifi==2024.7.4
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.3.2
ciso8601==2.3.0
click==8.1.7
cohere==5.6.1
colorama==0.4.6
cryptography==41.0.3
cssselect==1.2.0
cssselect2==0.7.0
dataclasses-json==0.6.7
deepdiff==7.0.1
defusedxml==0.7.1
Deprecated==1.2.13
distro==1.9.0
docopt==0.6.2
docstring_parser==0.16
docutils==0.18.1
duckduckgo_search==6.2.0
ecdsa==0.18.0
emoji==2.12.1
exa-py==1.0.16
exceptiongroup==1.1.2
fake-useragent==1.1.3
fastapi==0.95.1
fastavro==1.9.5
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.15.4
filetype==1.2.0
fireworks-ai==0.14.0
fonttools==4.53.1
free-proxy==1.1.1
frozenlist==1.4.0
fsspec==2024.6.1
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.59.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.4
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-generativeai==0.7.2
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
gpt-researcher==0.8.0
greenlet==2.0.1
groq==0.9.0
grpc-google-iam-v1==0.13.1
grpcio==1.64.1
grpcio-status==1.62.2
h11==0.14.0
home-assistant-bluetooth==1.10.3
homeassistant==2023.9.2
html5lib==1.1
htmldocx==0.0.6
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.23.5
idna==3.4
ifaddr==0.2.0
imagesize==1.4.1
jieba3k==0.35.1
Jinja2==3.1.2
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
json_repair==0.25.3
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jwcrypto==1.4.2
langchain==0.2.8
langchain-anthropic==0.1.20
langchain-aws==0.1.11
langchain-cohere==0.1.9
langchain-community==0.2.7
langchain-core==0.2.19
langchain-experimental==0.0.62
langchain-fireworks==0.1.5
langchain-google-genai==1.0.7
langchain-google-vertexai==1.0.6
langchain-groq==0.1.6
langchain-huggingface==0.0.3
langchain-mistralai==0.1.10
langchain-openai==0.1.16
langchain-text-splitters==0.2.2
langchain-together==0.1.4
langdetect==1.0.9
langgraph==0.1.8
langgraph-cli==0.1.48
langsmith==0.1.87
lru-dict==1.2.0
lxml==4.9.2
Markdown==3.6
markdown2==2.5.0
MarkupSafe==2.1.3
marshmallow==3.21.3
md2pdf==1.0.1
mistune==3.0.2
monday==1.3.3
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.3
newspaper3k==0.2.8
nltk==3.8.1
numpy==1.26.4
openai==1.35.14
ordered-set==4.1.0
orjson==3.10.6
outcome==1.2.0
packaging==24.1
pandas==2.2.2
parameterized==0.9.0
parsel==1.8.1
passlib==1.7.4
pillow==10.4.0
playwright==1.33.0
proto-plus==1.24.0
protobuf==4.25.3
psutil==6.0.0
psycopg2-binary==2.9.6
pyasn1==0.5.0
pyasn1_modules==0.4.0
pycparser==2.21
pydantic==1.10.7
pydyf==0.11.0
pyee==9.0.4
Pygments==2.15.1
PyJWT==2.8.0
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
PyMySQL==1.0.3
pyOpenSSL==23.2.0
pyparsing==3.1.0
pypdf==4.3.0
pyphen==0.15.0
pyreqwest_impersonate==0.5.0
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.0
python-iso639==2024.4.27
python-jose==3.3.0
python-magic==0.4.27
python-multipart==0.0.6
python-slugify==4.0.1
pytz==2023.3.post1
pywatchman==1.4.1
PyYAML==6.0.1
rapidfuzz==3.9.4
regex==2024.5.15
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
rsa==4.9
s3transfer==0.10.2
safetensors==0.4.3
scholarly==1.7.11
scikit-learn==1.5.1
scipy==1.14.0
selenium==4.10.0
sentence-transformers==3.0.1
sgmllib3k==1.0.0
shapely==2.0.5
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.4.1
Sphinx==6.2.1
sphinx-rtd-theme==1.2.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.12
starlette==0.26.1
stripe==5.4.0
sympy==1.13.0
tabulate==0.9.0
tavily-python==0.3.4
tenacity==8.5.0
text-unidecode==1.3
threadpoolctl==3.5.0
tiktoken==0.7.0
tinycss2==1.3.0
tinysegmenter==0.3
tldextract==5.1.2
tokenizers==0.19.1
torch==2.3.1
tqdm==4.66.4
transformers==4.42.4
trio==0.22.2
trio-websocket==0.10.3
types-requests==2.32.0.20240712
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ulid-transform==0.8.1
unstructured==0.14.10
unstructured-client==0.24.1
uritemplate==4.1.1
urllib3==2.0.2
uvicorn==0.22.0
voluptuous==0.13.1
voluptuous-serialize==2.6.0
w3lib==2.1.1
weasyprint==62.3
webencodings==0.5.1
websockets==12.0
wrapt==1.15.0
wsproto==1.2.0
yarl==1.9.2
zopfli==0.2.3
